.container{
    display: flex;
    flex-direction: row;

    // width: 100%;
    height: 100%;
}

.holder1{
    background-color: lightgrey;
    width: 50%;
}

.holder2{
    width: 50%;
}

.header{
    display: flex;
    flex-direction: row;
}

.add{
    font-size: 30px;
    border: none;
    margin-left: 80%;
    background-color: transparent;
}

.add:active{
    font-size: 25px;
}

.input1{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    width: 90%;
    margin-left: 5%;
}

textarea{
    margin-top: 20px;
}