<div class="container">
    <div class="holder1">
        <div class="header">
            <h3>Notes</h3>
            <button class="add">+</button>
        </div>
        <app-title *ngFor="let notelist of notes" [notelists]="notelist" (noteinfoEmiter)="getInfo($event)"
            (deleteEmiter)="deleteNotes($event)"></app-title>
    </div>

    <div class="holder2">

        <div>
            <app-content *ngFor="let notelist of notes" [notelists]="notelist" [ngStyle]="{
                'display': notelist.title === noteTitles ?'block' : 'none'
                }"></app-content>
            <div class="input1">
                <input type="text" #newTitle />
                <textarea cols="1" rows="10" #newContent></textarea>
            </div>
        </div>

        <button>revert</button>
        <button (click)=addNotes(newTitle.value,newContent.value)>save</button>
    </div>
</div>